body {
    background-color: darkorange;
}


.Bill_Header,
#Bill_Title,
.Bill_Id,
.Bill_Amount,
.Bill_Date {
    border-style: solid;
    padding: 10PX;
    border-color: red;
    border-collapse: collapse;
}

.Expense_Header,
.Expense_Id,
.Expense_Amount,
#Expense_Title,
.Expense_Date {

    border-style: dashed;
    padding: 10PX;
    border-color: blue;
    border-collapse: collapse;

}

.Misc_Header,
.Misc_Id,
.Misc_Amount,
#Misc_Title,
.Misc_Date {

    border-style: ridge;
    padding: 10PX;
    border-color: green;
    border-collapse: collapse;

}

h1{
text-align: center;
}

table {
    padding: 10px, 20px, 30px, 40px;
    width: 33%;
    float:left;

}

caption {
    align-content: center;
}

#submitBut {
    width: 80px;
    height: 20px;
    text-align: center;
}
#input{
    background-color: green;
    
}
#trackAmount{
    background-color: red;
}
#multiple_Choice{
    background-color: blue;/* cool to use background color on div elements to see their full size for testing purposes.*/
   
}
#multiple_Choice, #input, #trackAmount{
width:33%;
height: 200px;
float: left;
text-align:center;       
}
#InitAmount{

}
#CurrentAmount{

}